a {
    cursor: pointer;
}
input[type=checkbox]:focus{outline:0 none;}
input[type=radio]:focus{outline:0 none;}
.pointer {
    cursor: pointer;
}
body {
    /*background: #fff;*/
    min-width: 1230px;
    font-family: "Microsoft YaHei","微软雅黑","Microsoft JhengHei","华文细黑",STHeiti,MingLiu,Helvetica,Arial,Verdana,Sans-serif;
}
.red {
    color: red;
}
.data {
    display: none;
}
.no-outline {
    outline: none !important;
}
.btn {
    border-radius: 0;
    cursor: pointer;
}
.btn-default {
    border-color: #bbb;
    background: #edf1f4;
    color: #666;
}
.btn-primary {
    border-radius: 0
}
.navbar-cms {
    background: #428bd0;
    border: none;
    margin-bottom: 0;
}
.navbar-cms a {
    color: #fff;
}
.navbar-default a {
    color: #666;
}
.sidebar {
    width: 160px;
    margin-top: 50px;
}

.navbar-cms .nav>li>a:hover, .navbar-cms .nav>li>a:focus {
    background-color: #428bd0;
}
.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus {
    background-color: #eee;
}
.navbar-cms .fa {
    font-size: 20px;
}
.navbar-default .fa {
    font-size: 14px;
}
.navbar-cms .badge {
    background: #ff0000;
    padding: 2px 5px;
    position: absolute;
    margin-top: -7px;
    margin-left: -5px;
}

#page-wrapper {
    padding-top: 25px;
    min-height:850px;
	margin: 0 0 0 160px;
}
.float-l{float: left;}
.paddi-left{padding-left: 58px;}


.navlist li>a{padding:10px 14px 10px 37px;}
.nav>li a img{padding-right:12px;}
.navlist li>a:hover{color:#3e3e3e;}
.nav>li>.nav-a{padding-left:73px; border-bottom: 1px solid #e7e7e7;}
.address{margin-left:35px}
.navbar-right{margin-right: 0}
.navbar-right select{
    background: #3277B7;
    margin-left: -10px;
    width: 149px;
    height: 30px;
    border: solid 1px #64AAEB;
    color: #fff;
}
.navbar-top-links select{
    background: #3277B7;
    margin-left: -10px;
    width: 149px;
    height: 30px;
    border: solid 1px #64AAEB;
    color: #fff;
}
.toggle-class {
    color: #fff;
    float: left;
    line-height: 30px;
    margin: 10px 0 10px 10px;
}
.toggle-class > li {
    display: inline-block;
    margin-left: 10px;
}
.toggle-class .dropdown {
    position: relative;
    color: #000;
}
.toggle-class .dropdown-toggle {
    cursor: pointer;
    border: 1px solid #c0c0c0;
    background: #fff;
    border-radius: 5px;
    line-height: 28px;
}
.toggle-class .blink-color {
    background: #d9edff;
}
.toggle-class .dropdown-toggle span {
    border-right: 1px solid #c0c0c0;
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
}
.toggle-class .dropdown-toggle i {
    padding: 0 8px 0 6px;
    display: inline-block;
    margin-top: 2px;
    font-size: 14px;
}
.toggle-class .class-red-dot {
    line-height: 8px;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 2px;
}
.toggle-class .divider {
    margin: 5px 0;
}
.navbar-right select {
    outline: none;
}
.navbar-top-links li {
    padding-left: 13px;
}
.navbar-top-links li span {
    line-height: 50px;
    color: #fff;
}
.navbar-top-links .fa-gift {
    margin: 0 6px;
}
.navbar-top-links .fa-power-off {
    line-height: 50px;
    float: left;
    margin-right: 6px;
}
.navbar-top-links li a {
    line-height: 50px;
    padding: 0 10px;
}
#side-menu .active .hide {
    display: block !important;
}

.dataTables_filter {
    display: none;
}


.btn-del {
    color: #ff6600;
}
.btn-del:hover {
    color: #ff3300;
}

.btn-play-audio {
    cursor: pointer;
    font-size: 20px;
    line-height: 2;
    color: #666;
}

.table-edit .fa {
    font-size: 18px;
    padding: 0 2px;
}

.point-modal p {
    margin: 20px;
}
#side-menu .new {
    display: inline-block;
    margin-left: 2px;
    background: #428bca;
    color: #fff;
    border-radius: 3px;
    line-height: 16px;
    font-size: 12px;
    padding: 0 3px;
    transform: scale(0.7);
}
.table-search-area>.row {
    margin-bottom: 20px;
}

.page-breadcrumb.breadcrumb {
    background-color: #eee;
    border: 0 none !important;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 15px;
    padding-left: 195px;
    padding-right: 30px;
}
.col-sm-2{width:auto;}

#download-client-modal .modal-dialog {
    width: 451px;
    height: 368px;
    background: url("../img/dialog-download-client.png") no-repeat 100% 100%;
    margin-top: 50px;
    position: relative;
}
#download-client-modal .dialog-close {
    width: 32px;
    height: 32px;
    position: absolute;
    right: -4px;
    top: -16px;
    background: url("../img/icon-dialog-close.png") no-repeat 100% 100%;
    border: none;
    outline: none;
}
#download-client-modal .btn-download-client {
    width: 213px;
    height: 54px;
    position: absolute;
    left: 132px;
    top: 246px;
    background: url("../img/btn-download-client.png") no-repeat 100% 100%;
    border: none;
    outline: none;
}


.overflow-hidden {
    overflow: hidden;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.6)!important;
	background:#000; 
	filter:alpha(opacity=60);
}
.common-modal {
    position: fixed;
    top: 50%;
    width: 300px;
    margin-top: -50px;
    left: 50%;
    margin-left: -150px;
    background: #fff;
    border-radius: 7px;
    z-index: 10000;
}
.common-modal-body {
    padding: 14px;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
}
.common-modal-action {
    cursor: pointer;
    color: #62b816;
    line-height: 1.5;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #d0d0d0;
}
.common-modal-sure {
    cursor: pointer;
    color: #62b816;
    line-height: 1.5;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #d0d0d0;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}
.common-modal-cancel {
    cursor: pointer;
    color: #999;
    line-height: 1.5;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #d0d0d0;
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid #dcdcdc;
    float: left;
}