.form-list {
    min-width: 560px;
    overflow: auto;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 8px 0;
}
.form-list>.input-group {
    float: left;
    margin-right: 20px;
    max-width: 200px;
}

.panel-heading {
    overflow: auto;
    line-height: 34px;
}
#btn-tab-release {
    float: right;
}
#btn-tab-add {
    margin-bottom: 20px;
}
#tab-status {
    width: auto;
}
#tab-table .sortable {
    cursor: move;
}


